Repository saku-kaarakainen/personality-test-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, api, app

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

docs:
  - README.md
  - ./*.md
  
api:
  - api/*
  
app:
  - app/*

fix: allow cors from api to app (#14)
  api/main.go
  api/main_test.go
  app/public/index.html
  app/public/manifest.json
  app/src/logo.svg
Labels: api

started working on with questions set
  api/db/data/questions.json
  api/db/models.go
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

Added radiobutton, without proper styles
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

added styles for the questions
  api/main_test.go
  app/src/App.css
  app/src/App.tsx
  app/src/components/Question.css
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: api

task: questions page (#15)
  api/db/data/questions.json
  api/db/models.go
  api/main_test.go
  app/src/App.css
  app/src/App.tsx
  app/src/components/Question.css
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: api

changed favicon icon type to .ico in order to make it visible at app
  app/public/favicon.ico
Labels: none

prevent styles to spill over to other pages
  app/src/components/Question.css
  app/src/pages/Questions.tsx
Labels: none

styled buttons
  app/src/App.css
  app/src/pages/Questions.css
  app/src/pages/Questions.tsx
Labels: none

Added logic for nav buttons
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

feat(app): navigation buttons (#16)
  app/public/favicon.ico
  app/src/App.css
  app/src/components/Question.css
  app/src/components/Question.tsx
  app/src/pages/Questions.css
  app/src/pages/Questions.tsx
Labels: none

started working on with the tests
  app/src/pages/Questions.test.tsx
Labels: none

button navigation
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

added logic to prevent go forward unless user has answered
  api/db/data/questions.json
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

created a failing test
  app/src/pages/Questions.test.tsx
Labels: none

removed failing test
  app/src/pages/Questions.test.tsx
Labels: none

feat(app): logic for navigation button (#17)
  api/db/data/questions.json
  app/src/components/Question.tsx
  app/src/pages/Questions.tsx
Labels: none

created results page
  app/src/App.tsx
  app/src/pages/Questions.tsx
  app/src/pages/Result.css
  app/src/pages/Result.tsx
Labels: none

feat(app): results - page (#18)
  app/src/App.tsx
  app/src/pages/Questions.tsx
  app/src/pages/Result.css
  app/src/pages/Result.tsx
Labels: none

created a helper log
  app/src/pages/Result.tsx
Labels: none

stash
  api/db/data/questions.json
  api/db/db.go
  api/db/models.go
  api/main.go
  api/main_test.go
  api/routes/questions.go
  api/routes/result.go
  api/utils/utils.go
  api/utils/utils_test.go
Labels: api

calculation is done.
  api/db/data/results.json
  api/db/db.go
  api/db/db_test.go
  api/routes/result.go
  api/utils/utils.go
Labels: none

Backend endpoint implemented
  api/db/db.go
  api/db/db_test.go
  api/routes/result.go
Labels: none

activated the API in the app
  api/db/models.go
  app/src/pages/Result.tsx
Labels: none

feat: results - api (#19)
  api/db/data/questions.json
  api/db/data/results.json
  api/db/db.go
  api/db/db_test.go
  api/db/models.go
  api/main.go
  api/main_test.go
  api/routes/questions.go
  api/routes/result.go
  api/utils/utils.go
  api/utils/utils_test.go
  app/src/pages/Result.tsx
Labels: api

installed the package
  api/go.mod
  api/go.sum
Labels: api

moved files
  api/Dockerfile
  api/config/config.go
  api/config/config.toml
  api/main.go
  app/Dockerfile
  db/redis.conf
  docker-compose.yml
  run.sh
Labels: api, app

separated api and app more from scripts
  api/Dockerfile
  api/config/redis.conf
  api/docker-compose.yml
  api/run-backend.sh
  app/Dockerfile
  app/docker-compose.yml
  app/run-frontend.sh
  run-all.sh
  scripts/run-and-build-backend.sh
Labels: api, app

code restructuring. incomplete
  api/config/config.go
  api/config/config.toml
  api/db/db.go
  api/main.go
  api/main_test.go
  api/routes/questions.go
  api/server/server.go
  api/server/server_test.go
  api/services/question.go
  api/services/result.go
  api/test/DbEmptyMock.go
  api/test/DbNonEmptyMock.go
Labels: api

ddd - questions
  api-old/Dockerfile
  api-old/config/config.go
  api-old/config/config.toml
  api-old/config/redis.conf
  api-old/db/data/questions.json
  api-old/db/data/results.json
  api-old/db/db.go
  api-old/db/db_test.go
  api-old/db/models.go
  api-old/docker-compose.yml
  api-old/go.mod
  api-old/go.sum
  api-old/main.go
  api-old/main_test.go
  api-old/routes/questions.go
  api-old/routes/result.go
  api-old/run-backend.sh
  api-old/utils/utils.go
  api-old/utils/utils_test.go
  api/go.mod
  api/internal/db/redis.go
  api/internal/entity/answer.go
  api/internal/entity/question.go
  api/internal/entity/result.go
  api/internal/question/api.go
  api/internal/question/repository.go
  api/internal/question/service.go
  api/main.go
  run-all.sh
Labels: api

questions route/domain works
  api/config/questions.json
  api/config/results.json
  api/go.mod
  api/go.sum
  api/internal/config/config.go
  api/internal/db/db.go
  api/internal/db/redis.go
  api/internal/question/api.go
  api/internal/question/repository.go
  api/internal/question/service.go
  api/main.go
  api/utils/ioutils.go
Labels: api

backend refactored
  api/internal/db/redis.go
  api/internal/entity/result.go
  api/internal/result/api.go
  api/internal/result/repository.go
  api/internal/result/service.go
  api/main.go
  api/utils/ioutils.go
  api/utils/utils.go
  api/utils/utils_test.go
  run-all.sh
Labels: api

add tests. improvemeents
  .github/workflows/build_and_test_api.yml
  api/go.mod
  api/internal/question/service.go
  api/internal/result/repository.go
  api/internal/result/service.go
  api/internal/result/service_test.go
  api/internal/utils/utils.go
  api/internal/utils/utils_test.go
Labels: ci/cd, api

removed old api
  api-old/Dockerfile
  api-old/config/config.go
  api-old/config/config.toml
  api-old/config/redis.conf
  api-old/db/data/questions.json
  api-old/db/data/results.json
  api-old/db/db.go
  api-old/db/db_test.go
  api-old/db/models.go
  api-old/docker-compose.yml
  api-old/go.mod
  api-old/go.sum
  api-old/main.go
  api-old/main_test.go
  api-old/routes/questions.go
  api-old/routes/result.go
  api-old/run-backend.sh
  api-old/utils/utils.go
  api-old/utils/utils_test.go
Labels: none

refactor(api): domain driven design (#22)
  .github/workflows/build_and_test_api.yml
  api/Dockerfile
  api/api_config/api_config.go
  api/config/config.toml
  api/config/questions.json
  api/config/redis.conf
  api/config/results.json
  api/db/db.go
  api/db/models.go
  api/docker-compose.yml
  api/go.mod
  api/go.sum
  api/internal/config/config.go
  api/internal/db/db.go
  api/internal/db/redis.go
  api/internal/entity/answer.go
  api/internal/entity/question.go
  api/internal/entity/result.go
  api/internal/question/api.go
  api/internal/question/repository.go
  api/internal/question/service.go
  api/internal/result/api.go
  api/internal/result/repository.go
  api/internal/result/service.go
  api/internal/result/service_test.go
  api/internal/utils/utils.go
  api/internal/utils/utils_test.go
  api/main.go
  api/main_test.go
  api/routes/questions.go
  api/routes/result.go
  api/run-backend.sh
  app/Dockerfile
  app/docker-compose.yml
  app/run-frontend.sh
  run-all.sh
  scripts/run-and-build-backend.sh
Labels: ci/cd, api, app

refactor(api): Removed unnecessary logs and upted readme up-to-date.
  README.md
  api/internal/entity/answer.go
  api/internal/question/api.go
  api/internal/question/repository.go
  api/internal/question/service.go
  api/internal/result/api.go
  api/internal/result/service.go
  api/main.go
Labels: docs, api

feat: configured app to yield only introvert or extrovert result.
  api/config/questions.json
Labels: none

feat: configured app to yield only introvert or extrovert result. (#23)
  api/config/questions.json
Labels: none

added api tests for question
  api/internal/question/api_test.go
  api/internal/question/repository_test.go
  api/internal/question/service_test.go
  api/internal/test/api.go
  api/internal/test/mock.go
Labels: none

api test for results
  api/internal/result/api_test.go
  api/internal/result/repository.go
  api/internal/result/repository_test.go
  api/internal/result/service.go
Labels: none

added more tests
  api/.gitignore
  api/go.mod
  api/go.sum
  api/internal/question/api.go
  api/internal/question/api_test.go
  api/internal/question/repository_test.go
  api/internal/question/service.go
  api/internal/question/service_test.go
  api/internal/result/api_test.go
  api/internal/result/service.go
  api/internal/test/api.go
  api/internal/test/mock.go
  api/internal/utils/utils.go
  api/main.go
Labels: api
