Repository saku-kaarakainen/personality-test-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, api, app

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

docs:
  - README.md
  - ./*.md
  
api:
  - api/*
  
app:
  - app/*

pass data from redis to api
  api/db/db.go
  api/routes/questions.go
Labels: none

data is stored now correctly in redis
  README.md
  api/db/data/questions.json
  api/db/data/results.json
  api/db/db.go
  api/db/questions.json
  api/db/results.json
  api/db/test.json
  api/main.go
  api/routes/questions.go
Labels: docs, api

fetch data from redis
  api/db/db.go
  api/main.go
  api/routes/questions.go
Labels: api

questions endpoint with it's test
  api/db/data/questions.json
  api/db/db.go
  api/db/models.go
  api/go.mod
  api/go.sum
  api/main.go
  api/main_test.go
  api/routes/questions.go
Labels: api

cleanup and documentation
  api/main.go
Labels: api

task: question endpoint (#7)
  README.md
  api/db/data/questions.json
  api/db/data/results.json
  api/db/db.go
  api/db/models.go
  api/db/questions.json
  api/db/results.json
  api/db/test.json
  api/go.mod
  api/go.sum
  api/main.go
  api/main_test.go
  api/routes/questions.go
Labels: docs, api

toml config poc
  Dockerfile
  api/config/config.go
  api/go.mod
  api/go.sum
  api/main.go
  config.toml
Labels: api

use toml for backend configurations
  api/config/config.go
  api/main.go
  config.toml
Labels: api

task: configurations (#8)
  Dockerfile
  api/config/config.go
  api/go.mod
  api/go.sum
  api/main.go
  config.toml
Labels: api

Call backend from frontend, although it's still blocked by cors
  app/package-lock.json
  app/package.json
  app/src/App.tsx
Labels: app

create react boilerplate
  app/.gitignore
  app/README.md
  app/package-lock.json
  app/package.json
  app/public/favicon.ico
  app/public/index.html
  app/public/logo192.png
  app/public/logo512.png
  app/public/manifest.json
  app/public/robots.txt
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/index.css
  app/src/index.tsx
  app/src/logo.svg
  app/src/react-app-env.d.ts
  app/src/reportWebVitals.ts
  app/src/setupTests.ts
  app/tsconfig.json
Labels: app

Fronent is now able to fetch data from backend
  Dockerfile
  api/api_config.toml
  api/api_config/api_config.go
  api/go.mod
  api/go.sum
  api/main.go
  app/src/App.tsx
  app/src/config.json
Labels: api

run app in container.
  Dockerfile
  app/.dockerignore
  app/build/asset-manifest.json
  app/build/favicon.ico
  app/build/index.html
  app/build/logo192.png
  app/build/logo512.png
  app/build/manifest.json
  app/build/robots.txt
  app/build/static/css/main.073c9b0a.css
  app/build/static/css/main.073c9b0a.css.map
  app/build/static/js/787.c1112931.chunk.js
  app/build/static/js/787.c1112931.chunk.js.map
  app/build/static/js/main.8168e1ce.js
  app/build/static/js/main.8168e1ce.js.LICENSE.txt
  app/build/static/js/main.8168e1ce.js.map
  app/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
  app/package-lock.json
  app/package.json
  docker-compose.yml
  run.sh
Labels: app

frontend is able to connect to backend even on docker
  api.Dockerfile
  app.Dockerfile
  docker-compose.yml
  run.sh
Labels: none

fix tests
  api/main.go
  docker-compose.yml
  run.sh
Labels: api

Create build_and_test_app.yml
  .github/workflows/build_and_test_app.yml
Labels: ci/cd

linting works
  .vscode/settings.json
  app/.eslintignore
  app/.eslintrc.json
  app/build/static/js/787.c1112931.chunk.js
  app/build/static/js/main.8168e1ce.js
  app/package-lock.json
  app/package.json
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/index.tsx
  app/src/reportWebVitals.ts
  app/src/setupTests.ts
Labels: app

added webhook for prettier so that the lint errors would be noticed earlier
  .vscode/launch.json
  app/package-lock.json
  app/package.json
Labels: app

Update build_and_test_app.yml
  .github/workflows/build_and_test_app.yml
Labels: ci/cd

removed lint fix
  app/package.json
Labels: app

Update build_and_test_app.yml
  .github/workflows/build_and_test_app.yml
Labels: ci/cd

added tsconfigRootDir
  app/.eslintrc.json
Labels: app

ignore and removed build
  app/.gitignore
  app/build/asset-manifest.json
  app/build/favicon.ico
  app/build/index.html
  app/build/logo192.png
  app/build/logo512.png
  app/build/manifest.json
  app/build/robots.txt
  app/build/static/css/main.073c9b0a.css
  app/build/static/css/main.073c9b0a.css.map
  app/build/static/js/787.c1112931.chunk.js
  app/build/static/js/787.c1112931.chunk.js.map
  app/build/static/js/main.8168e1ce.js
  app/build/static/js/main.8168e1ce.js.LICENSE.txt
  app/build/static/js/main.8168e1ce.js.map
  app/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
Labels: app

Update package.json
  app/package.json
Labels: app

added dirty fix to resolve the issue
  app/package.json
Labels: app

Create build_and_test_app.yml (#10)
  .github/workflows/build_and_test_app.yml
  .vscode/launch.json
  .vscode/settings.json
  app/.eslintignore
  app/.eslintrc.json
  app/.gitignore
  app/build/asset-manifest.json
  app/build/favicon.ico
  app/build/index.html
  app/build/logo192.png
  app/build/logo512.png
  app/build/manifest.json
  app/build/robots.txt
  app/build/static/css/main.073c9b0a.css
  app/build/static/css/main.073c9b0a.css.map
  app/build/static/js/787.c1112931.chunk.js
  app/build/static/js/787.c1112931.chunk.js.map
  app/build/static/js/main.8168e1ce.js
  app/build/static/js/main.8168e1ce.js.LICENSE.txt
  app/build/static/js/main.8168e1ce.js.map
  app/build/static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
  app/package-lock.json
  app/package.json
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/index.tsx
  app/src/reportWebVitals.ts
  app/src/setupTests.ts
Labels: ci/cd, app

created the layout
  app/package-lock.json
  app/package.json
  app/public/favicon.ico
  app/public/favicon.png
  app/src/App.css
  app/src/App.tsx
  app/src/components/Question.tsx
  scripts/run-and-build-backend.sh
Labels: app

unit test for rendering the layout
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/components/Question.tsx
Labels: none

task(app): styled layout (#11)
  app/package-lock.json
  app/package.json
  app/public/favicon.ico
  app/public/favicon.png
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/components/Question.tsx
  scripts/run-and-build-backend.sh
Labels: app

update icons
  app/public/logo192.png
  app/public/logo512.png
Labels: none

added routes for landing pages, questions, results and 404
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/pages/LandingPage.tsx
  app/src/pages/NotFound.css
  app/src/pages/NotFound.tsx
  app/src/pages/Questions.tsx
  app/src/pages/Result.tsx
Labels: app

task(app): routers (#12)
  app/package-lock.json
  app/package.json
  app/public/logo192.png
  app/public/logo512.png
  app/src/App.tsx
  app/src/pages/LandingPage.tsx
  app/src/pages/NotFound.css
  app/src/pages/NotFound.tsx
  app/src/pages/Questions.tsx
  app/src/pages/Result.tsx
Labels: app

added visual button with styles
  app/src/App.css
  app/src/App.tsx
  app/src/index.css
  app/src/pages/LandingPage.tsx
Labels: none

page title navigates to landing page
  app/src/App.css
  app/src/App.tsx
  app/src/pages/LandingPage.test.tsx
  app/src/pages/LandingPage.tsx
Labels: none

test title link navigation
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/pages/LandingPage.test.tsx
  app/src/pages/LandingPage.tsx
Labels: none

test navigation to next page
  app/src/App.test.tsx
  app/src/pages/LandingPage.test.tsx
Labels: none

feat(app): landing page (#13)
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/index.css
  app/src/pages/LandingPage.test.tsx
  app/src/pages/LandingPage.tsx
Labels: none

Changed the template values
  app/public/index.html
  app/public/manifest.json
Labels: none

updated logo
  app/src/logo.svg
Labels: none

fixed cors issue
  api/main.go
  api/main_test.go
Labels: api
