Repository saku-kaarakainen/personality-test-app, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, api, app

use mock in res api tests, added storeFile (res) test
  api/internal/question/service_test.go
  api/internal/result/api_test.go
  api/internal/result/repository_test.go
  api/internal/result/service_test.go
  api/internal/utils/utils.go
Labels: none

added test getQuestions
  api/internal/question/api_test.go
  api/internal/question/service_test.go
  api/internal/result/repository_test.go
Labels: none

added more tests to services layer
  api/internal/question/service_test.go
  api/internal/result/service.go
  api/internal/result/service_test.go
Labels: none

test: added unit tests (#25)
  api/.gitignore
  api/go.mod
  api/go.sum
  api/internal/question/api.go
  api/internal/question/api_test.go
  api/internal/question/repository_test.go
  api/internal/question/service.go
  api/internal/question/service_test.go
  api/internal/result/api_test.go
  api/internal/result/repository.go
  api/internal/result/repository_test.go
  api/internal/result/service.go
  api/internal/result/service_test.go
  api/internal/test/api.go
  api/internal/test/mock.go
  api/internal/utils/utils.go
  api/main.go
Labels: api

feat: removed 6th question
  api/config/questions.json
Labels: none

feat: removed 6th question (#26)
  api/config/questions.json
Labels: none

replaced 'run-all.sh' - script with Makefile
  Makefile
  run-all.sh
Labels: none

task: run with Makefile (#27)
  Makefile
  run-all.sh
Labels: none

task: removed bash scripts and replaced with Makefiles
  Makefile
  README.md
  api/Makefile
  api/run-backend.sh
  app/Makefile
  app/run-frontend.sh
Labels: docs, api, app

Update README.md
  README.md
Labels: docs

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

docs:
  - README.md
  - ./*.md
  
api:
  - api/*
  
app:
  - app/*
